
.wrapper > div{
    margin-top: 1em;
    display: flex;
    gap: 0.5em;
    width: 80%;
    margin: 0 auto;
}
.wrapper > div > *{
    flex: 50%;
    margin-top: 0.5em;
    font-size: 3em;
}
span#spanAantalSpaties{
    text-align: right;
    border: 1px solid black;
}
